
*{
    margin: 0;
    padding: 0;
}

.flg2{
    height: 1800px;
    width: 600px;
    background-color: rgb(96, 218, 175);
    margin: 0 auto;   /*middle point asbe */
    position: relative;
    


}

.combodia {
   
    height: 300px;
    width: 450px;
    background-color: rgb(242, 9, 48);
    left: 50%;
    top: 15%;
    transform: translate(-50%,-50%);
    
    position: absolute;
  
  
}
.black{
    top: 0;
    left: 0%;
    height: 300px;
    width: 150px;
    background-color: rgb(6, 152, 52);
    

    position: absolute;

}
.yellow{
    left: 33.33%;
    top: 0;
    height: 300px;
    width: 150px;
    background-color: rgb(240, 15, 15);

    position: absolute;

}
.d{
    top: 50%;
    left: 50%;
    height: 130px;
    width: 170px;
    
    position: absolute;
    transform: translate(-50%,-50%); 

}
.red{
    left: 66.66%;
    top: 0;
    height: 300px;
    width: 150px;
    background-color: rgb(254, 254, 7);

    position: absolute;

}


.c {
    top: 0;
    left: 0;
    height: 300px;
    width: 450px;
    background-color: rgb(242, 9, 48);
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    
    position: absolute;
  
  
}
.b{
    top: 0;
    left: 0%;
    height: 300px;
    width: 150px;
    background-color: rgb(8, 60, 87);
    

    position: absolute;

}
.y{
    left: 33.33%;
    top: 0;
    height: 300px;
    width: 150px;
    background-color: rgb(233, 187, 21);

    position: absolute;

}
.e{
    top: 50%;
    left: 50%;
    height: 130px;
    width: 140px;
    
    position: absolute;
    transform: translate(-50%,-50%); 

}
.r{
    left: 66.66%;
    top: 0;
    height: 300px;
    width: 150px;
    background-color: rgb(8, 60, 87);

    position: absolute;

}

.benin{
   
    height: 300px;
    width: 450px;
    background-color: rgb(242, 9, 48);
    left: 50%;
    top: 65%;
    transform: translate(-50%,-50%);
    
    position: absolute;
  
  
}
.gr1{
    left: 0%;
    top: 0;
    height: 300px;
    width: 200px;
    background-color: rgb(37, 125, 15);

    position: absolute;

}
.shp{
    left: 43%;
    top: 0;
    height: 300px;
    width: 257px;
    background-color: rgb(247, 243, 16);
   

    position: absolute;

}
.yel2{
    left: 0;
    top: 0;
    height: 150px;
    width: 250px;
    background-color: rgb(243, 255, 8);

    position: absolute;

}
.redb{
    left: 0;
    top: 50%;
    height: 150px;
    width: 257px;
    background-color: rgb(246, 8, 8);

    position: absolute;

}


.canada {
    top: 0;
    left: 0;
    height: 300px;
    width: 450px;
    background-color: rgb(242, 9, 48);
    left: 50%;
    top: 85%;
    transform: translate(-50%,-50%);
    
    position: absolute;
  
  
}
.rc{
    top: 0;
    left: 0%;
    height: 300px;
    width: 100px;
    background-color: rgb(242, 19, 19);
    

    position: absolute;

}
.wc{
    left: 25%;
    top: 0;
    height: 300px;
    width: 250px;
    background-color: rgb(255, 255, 255);

    position: absolute;

}
.can{
    top: 50%;
    left: 45%;
    height: 170px;
    width: 160px;
    
    position: absolute;
    transform: translate(-50%,-50%); 

}
.rc2{
    left: 75%;
    top: 0;
    height: 300px;
    width: 100px;
    background-color: rgb(244, 7, 7);

    position: absolute;

}



